
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@font-face {
  font-family: 'Round8Four'; /* The custom name you'll use to reference the font */
  src: url('./src/assets/fonts/ROUND 8-FOUR/Webfont/Web Font Kit/round8-four-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;

}


.Parent-Front-Page{
  display: flex;
  background-color: #f7f4e4;
  height: 100vh;
  width: 100vw ;
  flex-direction: column; 
  gap: 20px;
}

.temp-div{
  height: 100px;
  width: 500px; 
  
}

.temp{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  margin-left: 30px;

}
.Name-Div{
  display: flex;
  height: 400px;
  width: 400px;
  transform: translateX(200px);
  flex-direction: column;
}



.First-Name{
  font-family: 'Round8Four';
  font-size: 200px;
  transform: translateY(-200px)

}

.Last-Name{
  font-family: 'Round8Four';
  font-size: 200px;
  transform: translateY(-600px)
}



.Name-Model-Div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 500px;
}
