
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@font-face {
  font-family: 'Round8Four'; /* The custom name you'll use to reference the font */
  src: url('/fonts/ROUND 8-FOUR/Webfont/Web Font Kit/round8-four-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;

}


.Parent-Front-Page{
  display: flex;
  background-color: #f7f4e4;
  height: 100vh;
  width: 100vw ;
  flex-direction: column; 
  gap: 20px;
}

.temp-div{
  height: 100px;
  width: 500px; 
  display: flex;
  gap:300px;
  flex-direction: row;
  flex-wrap: nowrap;
  
  
}

.temp{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  margin-left: 30px;

}
.Name-Div{
  display: flex;
  height: 400px;
  width: 400px;
  transform: translateX(200px);
  flex-direction: column;
}



.First-Name{
  font-family: 'Round8Four';
  font-size: 200px;
  transform: translateY(-200px)

}

.Last-Name{
  font-family: 'Round8Four';
  font-size: 200px;
  transform: translateY(-600px)
}



.Name-Model-Div{
  margin-top: -60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 400px;
  margin-right: 100px;
  padding: 20px;
}

.Fall-Back{

  font-family: 'Round8Four';
  font-size:  100px;


}
.Introduction{
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  gap:50px;

}

.Student-Eats-Div{
  display: flex;
}



.intro-text{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  margin-left: 110px;
  font-size: 20px;


}
.Projects-Button{
  height: 100px;
  width: 200px;
  border-radius: 50px;
  background-color: #f7f4e4;
  border-color: white;
  color: black;
  border: solid;
  font-family: "Outfit", sans-serif;


}

.Projects-Button:hover{
  border-color: whitesmoke;
  cursor: pointer;

}

.StudentEatsLogo{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}
.Portfolio-Text{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}

.Project-Container{
  display: flex;
  gap: 400px;
  align-items: center;
  justify-content: center;
}

.Portfolio-div{
  display: flex;
  width: 300px;
  height: 300px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #e2dec2;
  cursor: pointer;
  text-decoration: none;
}
.Portfolio-Text{
  text-decoration: none ;
  
  color: black;
  
}

