
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@font-face {
  font-family: 'Round8Four'; /* The custom name you'll use to reference the font */
  src: url('./src/assets/fonts/ROUND 8-FOUR/Webfont/Web Font Kit/round8-four-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.Front-Page{
  display: flex;
  background-color: #f7f4e4;
  height: 100vh;
  width: 100vw ;
  flex-direction: row;
  gap: 0px;
  
  
}

html,
body {
  margin: 0;

}
.name{
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0px;

}

.First,
.Last{
  font-family: 'Round8Four', sans-serif;
  font-size: 150px;
  
  
}



.temp-div{
  height: 200px;
  
}

.temp{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  margin-left: 30px;
  

}

.Last{
  margin-top: -50px;
}

.First{
  margin-bottom: 0px;
}